#footer {
    background: #2C2C2C;
    margin-top: 150px;

    p{
        color: #fff;
    }

    .map{
        max-width: 400px;
        border: 24px solid #9E977B;
        margin-top: -50px;
        a{
            width: 100%;
            height: 100%;
            display: block;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            vertical-align: middle;
        }
    }

    .title-footer{
        padding-top: 35px;
        h3{
            font-size: 20px;
            color: #fff;
            text-transform: uppercase;
        }

        .dv-line{
            width: 45px;
            height: 2px;
            background: #fff;
            margin-top: 13px;
        }
    }

    .contact-ft{
        p{       
            font-size: 14px;
        }
        .address{
            padding-top: 15px;
        }

        .company{
            padding-top: 20px;
        }

        .hot-line{
            padding-top: 20px;
        }
    }

    .follow-ic{
        display: flex;
        padding-top: 15px;
        a{
            background: #BCBDBF;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;     
            margin-right: 10px;
            transition: .3s ease-out;

            &:hover{
                color: #fff;
                background: #9E977B;
            }

            &:last-child{
                margin-right: unset;
            }
        }
    }

    .end-footer{
        border-top: 1px solid #6D6E71;
        padding: 25px 0px;
        text-align: center;
        margin-top: 60px;
        p{
            color: #6D6E71;
        }
    }

    a.cd-top {
        display: inline-block;
        height: 40px;
        width: 40px;
        position: fixed;
        bottom: 50px;
        right: 30px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
        border-radius: 50%;
        /* image replacement properties */
        overflow: hidden;
        text-indent: 100%;
        white-space: nowrap;
        background: #444444 url('../images_icon/iconmonstr-arrow-66-16.png') no-repeat center 50%;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: opacity .3s 0s, visibility 0s .3s;
        -moz-transition: opacity .3s 0s, visibility 0s .3s;
        transition: opacity .3s 0s, visibility 0s .3s;
        z-index: 999;
    }

    a.cd-top.cd-is-visible, a.cd-top.cd-fade-out, .no-touch a.cd-top:hover {
        -webkit-transition: opacity .3s 0s, visibility 0s 0s;
        -moz-transition: opacity .3s 0s, visibility 0s 0s;
        transition: opacity .3s 0s, visibility 0s 0s;
    }

    a.cd-top, a.cd-top:visited, a.cd-top:hover {
        color: #CCCCCC;
        text-decoration: none;
    }

    a.cd-top.cd-is-visible {
        /* the button becomes visible */
        visibility: visible;
        opacity: 1;
    }

    a.cd-top.cd-fade-out {
        /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
        opacity: 1;
    }
}
