#header{
    .top-bar{
        background: #2C2C2C;
        border-top: 1px solid #959595;

        &.none-scroll{
            display: none;
        }
        .contact{
            display: flex;
            align-items: center;
            line-height: 45px;
            p{
                color: #959595;
                font-size: 14px;
                transition: .3s ease-out;
                cursor: pointer;
                &:hover{
                    color: #9F987B;
                }
            }
            .hot-line{
                border-right: 1px solid #959595;
                padding-right: 15px;
                p:before{
                    content:"\f095";
                    font-family: "fontawesome";
                    padding-right: 5px;
                    color: #9F987B;
                }
            }

            .email{
                padding-left: 15px;
                p:before{
                    content:"\f0e0";
                    font-family: "fontawesome";
                    padding-right: 5px;
                    color: #9F987B;
                }
            }
        }

        .right-follow{
            display: flex;
            align-items: center;
            line-height: 45px;
            .search-hd{
                border-right: 1px solid #959595;
                padding-right: 15px;

                #btn-search-hd{
                    border:none;
                    outline: none;
                    background: transparent;
                    color: #959595;
                }
            }

            .social-follow{
                display: flex;
                padding-left: 15px;
                a{
                    display: block;
                    font-size: 16px;
                    margin-right: 10px;
                    color: #959595;
                    transition: .3s ease-out;

                    &:hover{
                        color: #9F987B;
                    }

                    &:last-child{
                        margin-right: unset;
                    }
                }
            }
        }
    }

    .header-main{
        background: #fff;
        &.stuck-hd{
            position: fixed;
            top:0;
            width: 100%;
            z-index: 999;
            -webkit-box-shadow: 0px 1px 17px 1px rgba(53,54,58,0.5); 
            box-shadow: 0px 1px 17px 1px rgba(53,54,58,0.5);
            transition: .3s ease-out;
            animation: fade_st 1.5s forwards;

            @keyframes fade_st {
                0%{
                    opacity: 0;
                    visibility: hidden;
                }

                100%{
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        .container{
            padding: 13px 0px;
        }
        .moblie-bar{
            button{
                border: none;
                outline: none;
                font-size: 20px;
                background: none;
            }
        }

        .search-mb{
            position: absolute;
            right: 15px;
            top: 30px;
            button{
                border: none;
                outline: none;
                font-size: 20px;
                background: none;
            }
        }

        .logo{
            max-width: 132px;

            @media only screen and (max-width: 768px){
                &{
                    margin: auto;
                }
            }
        }

        .main-nav{
            margin-left: 45px;

            ul{
                display: flex;
                flex-wrap: wrap;
                li{
                    a{
                        font-size: 14px;
                        text-transform: uppercase;
                        padding: 0px 30px 0px 0px;
                        display: block;
                        transition: .3s ease-out;
                        font-weight: 600;
                        line-height: 30px;

                        &:hover{
                            color: #9F977C;
                        }
                    }
    
                    &:last-child a{
                        padding: 0px;
                    }

                    &.has-child{
                        position: relative;

                        &:hover ul{
                            opacity: 1;
                            visibility: visible;
                        }

                        a::after{
                            content:"\f107";
                            font-family: "fontawesome";
                            padding-left: 4px;
                        }
                        ul{
                            position: absolute;
                            z-index: 5;
                            background: #fff;
                            width: 200px;
                            transition: .3s ease-out;
                            flex-direction: column;
                            padding: 10px 15px;
                            opacity: 0;
                            visibility: hidden;
                            li{
                                a{
                                    font-size: 14px;
                                    text-transform: capitalize;
                                    &::after{
                                        content:"";
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.over-lay-mb{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, 0.8);
    z-index: 9995;
    display: none;

    &.overlay-open{
        display: block;
    }
}

.over-lay-mb-bars{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, 0.8);
    z-index: 9995;
    display: none;

    &.overlay-open{
        display: block;
    }
}

.box-search_header{
    position: fixed;
    top: 30%;
    left: 50%;
    transition: .3s ease-in-out;
    animation: show_box_hd .5s forwards;
    text-align: center;
    z-index: 9999;
    display: none;

    &.active_show{
        display: block;
    }
    @keyframes show_box_hd {
        0%{
            opacity: 0;
            visibility: hidden;
            transform:translateX(-50%) scale(0.7);
        }

        100%{
            opacity: 1;
            visibility: visible;
            transform:translateX(-50%) scale(1);
        }
    }

    label{
        font-size: 35px;
        font-weight: 700;
        text-transform: capitalize;
        padding-bottom: 20px;
        color: #fff;
    }

    form{
        display: flex;
        input{
            border: none;
            outline: none;
            width: 400px;
            height: 40px;
            padding-left: 10px;

            @media only screen and (max-width: 768px){
                &{
                    width: 100%;
                }
            }
        }

        button{
            width: 40px;
            background: #9F977C;
            color: #fff;
        }
    }
}
