@import "reset";
@import "header";
@import "footer";
@import "mobile_nav";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@font-face {
    font-family: 'title-bold';
    src: url('../fonts/font/SFUFuturaBold_0.TTF');
}

@font-face {
    font-family: 'title-light';
    src: url('../fonts/font/SFUFuturaLight_0.TTF');
}

@font-face {
    font-family: 'title-italic';
    src: url('../fonts/font/SFUFuturaObliqueTTF_0.TTF');
}

#wrapper{
    a:active, a:visited{
        background: none;
    }
}

// -------------------------------------------------------------------- home-page ---------------------------------------------------------------------------

.banner{
    .banner-content{
        max-width: 100%;
        height: 660px;
        overflow: hidden;
        position: relative;
        @media only screen and (max-width: 768px){
            &{
                height: auto;
            }
        }

        .images{
            position: relative;
            .overlay{
                position: absolute;
                width: 100%;
                height: 100%;
                top:0;
                left: 0;
                background: rgba(0, 0, 0, 0.356);
            }
        }
        img{
            width: 100%;
            height: 100%;
            vertical-align: middle;
            object-fit: cover;
        }

        .box-text{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            h3{
                color: #fff;
                font-size: 35px;
                line-height: 60px;
            }

            h2{
                color: #fff;               
                font-size: 50px;
                line-height: 60px;
                font-weight: 700;
            }

            @media only screen and (max-width: 768px){
                &{
                    h2{
                        font-size: 20px;
                        line-height: 1.5;
                    }

                    h3{
                        font-size: 18px;
                        line-height: 1.5;
                    }
                }
            }

            @media only screen and (max-width: 576px){
                &{
                    h2{
                        font-size: 14px;
                        line-height: 1.5;
                    }

                    h3{
                        font-size: 14px;
                        line-height: 1.5;
                    }
                }
            }
        }
    }

    .owl-carousel{
        .item{
            margin-bottom: 0px;
        }
    
        &.owl-theme .owl-nav [class*=owl-]:hover{
            background: rgba(51, 51, 51, 0.678);
        }
        
        &.owl-theme .owl-dots{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 93%;

            @media only screen and (max-width: 576px){
                &{
                    top: 86%;
                }
            }
        }

        &.owl-theme .owl-dots .owl-dot{
            outline: none;
            &.active span{
                background-color: #343A40;
            }
            span{
                margin: 5px 3px;
                background: #FFFFFF;
    
                &:hover{
                    background-color: #343A40;
                }
            }
        }
    
        &:hover .owl-nav{
            opacity: 1;
            visibility: visible;
        }
        .owl-nav{
            opacity: 1;
            visibility: visible;
            transition: .3s ease-in-out;
            margin-top: unset;
            @media only screen and (max-width: 768px){
                &{
                    opacity: 1;
                    visibility: visible;
                }
            }
            button{
                background-color: none;
                border: none;
                outline: none;
                font-size: 50px;
                z-index: 4;
                background: rgba(51, 51, 51, 0.678);
                color: #fff;
                margin: 0;

                span{
                    display: block;
                    margin-bottom: 6px;                   
                    padding: 0px 7px;
                }

                &:hover{

                    color: #fff;
                }
    
                &.owl-prev{
                    position: absolute;
                    top: 50%;
                    left: 0px;
                    font-size: 50px;
                    transform: translateY(-50%);
                    @media only screen and (max-width: 768px){
                        &{
                            left: 0px;
                        }
                    }
                }
    
                &.owl-next{
                    position: absolute;
                    top: 50%;
                    right: 0px;
                    font-size: 50px;
                    transform: translateY(-50%);
                    @media only screen and (max-width: 768px){
                        &{
                            right: 0px;
                        }
                    }
                }
            }
        }
    }
}

.my-story{
    .story-img{
        overflow: hidden;
        img{
            width: 100%;
            padding-top: 93px;
            vertical-align: middle;
        }
    }

    .story-content{
        background-image: url("../images/bg1.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100%;
        padding-left: 24px;
        @media only screen and (max-width: 576px){
            &{
                backface-visibility: hidden;
                background-attachment: fixed;
            }
        }
        h1{
            font-family: "title-bold";
            font-size: 38px;
            padding-top: 100px;
            padding-bottom: 35px;
            @media only screen and (max-width: 768px){
                &{
                    padding-top: 40px;
                }
            }
        }

        p{
            font-size: 16px;
            padding-bottom: 25px;
            display: block;
            width: 70%;
            text-align: justify;
            @media only screen and (max-width: 576px){
                &{
                    width: 95%;
                }
            }
        }
    }
}

.our-solution{
    background: #9F977C;
    padding: 100px 0px;
    @media only screen and (max-width:768px){
        &{
            padding: 60px 0px;
        }
    }
    .soution-title{
        font-size: 38px;
        text-align: center;
        font-family: 'title-bold';
        padding-bottom: 60px;
    }
    .media{
        margin-bottom: 35px;
        img{
            width: 55px;
            height: 55px;
            object-fit: cover;
        }
        .media-body{
            h5{
                font-size: 18px;
                font-weight: 700;
                color: #fff;
                line-height: 27px;
            }
            p{
                font-size: 15px;
                color: #DBDBD9;
            }
        }
    }
}

.field-of-activity{
    .activity-title{
        padding-right: 54px;
        border-left: 1px solid #9F977C;
        padding-left: 7px;
        @media only screen and (max-width: 768px){
            &{
                padding: 40px 0px;
                border: unset;
            }
        }

        h2{
            font-size: 36px;
            
            p{               
                line-height: 50px;
                &:first-child{
                    font-family: 'title-bold';
                    margin-top: -14px;
                }

                &:last-child{
                    font-family: 'title-light';
                    margin-bottom: -10px; 
                }
            }
        }
    }

    .activity-imgages{
        max-width: 100%;
        height: 560px;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        transition: .5s ease-out;
        &.one-w{
            animation: one-w .3s forwards;
            img{
                object-fit: fill;
            }
        }

        &.zero-w{
            animation: zero-w .3s forwards;
        }

        @keyframes one-w {
            0%{
                transform: scale(0.5);
                width: 0px;
            }

            100%{
                transform: scale(1);
                width: 100%;
            }
        }


        .show-click{
            animation: show_click 1s forwards;
        }

        .row.has-click-elements .col-12{
            transition: .3s ease-out; 
        }

        &:hover .box-text a{
            transform: translateY(10px);
        }

        &:hover  .images img{
            transform: scale(1.1);
        }
        @media only screen and (max-width: 576px){
            &{
                height: auto;
            }
        }

        .images{
            position: relative;
            z-index: 1;
            transition: .3s ease-out;       
            height: 560px;
            @media only screen and (max-width: 576px){
                &{
                    height: auto;
                }
            }                
        }

        .over-lay{
            position: absolute;
            width: 100%;
            height: 100%;
            top:0;
            left: 0;
            background: rgba(0, 0, 0, 0.541);
            z-index: 2;
        }

        .box-text{
            position: absolute;
            z-index: 3;
            top: 36px;
            right: 10px;
            text-align: right;

            a{
                font-size: 20px;
                text-transform: uppercase;
                color: #fff;
                transition: .3s ease-out;
                font-family: 'title-bold';
                display: block;
            }
        }
        img{
            width: 100%;
            height: 100%;
            vertical-align: middle;
            transition: .3s ease-out;      
        }
    }
}

.outstanding-project{
    background: #EEF1F2;
    padding: 95px 0px;
    box-sizing: border-box;
    .stamp{
        position: absolute;
        z-index: 99;
        width: 48.4%;
        height: auto;
        background: white;
        margin-bottom: 0;
        right: 15px;
        border: none;

        @media only screen and (max-width:768px){
            &{
                width: 100%;
                top:0;
                left: 0;
                right: 0;
                margin: 0;
            }
        }
    }
    .outstanding-title{
    
        text-align: center;
        padding: 60px 15px 60px 0px;
        h2{
            font-size: 38px;
            font-family: 'title-bold';
        }

        .dv-line{
            width: 110px;
            height: 2px;
            background: #9F977C;
            margin: 20px auto;
        }
    }

    #filters{
        padding-bottom: 10px;
        text-align: center;
        .button{
            background: #fff;
            text-transform: uppercase;
            color: #000;          
        }
    }
    .grid{
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        background: none;
        border: none;
        position: relative;
    }
    .grid-item{   
        float: none;
        width: 25%;
        overflow: hidden;
        margin-bottom: 30px;
        border: none ;
        background: none;
        padding: 0px 15px;       
        height: auto; 

        .images-box{
            position: relative;
            overflow: hidden;
            cursor: pointer;

            .overlay{
                position: absolute;
                z-index: 2;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: rgba(0, 0, 0, 0.473);
                opacity: 0;
                visibility: hidden;
                transition: .3s ease-out;
            }

            .box-text{
                position: absolute;
                z-index: 3;
                bottom: 0;
                background: #fff;
                width: 90%;
                padding: 15px;
                transition: .3s ease-out;
                opacity: 0;
                visibility: hidden;
                h4{
                    font-size: 19px;
                }
                p{
                    font-size: 14px;
                    color: #6d6e71;
                }

                @keyframes move_bt {
                    0%{
                        transform: translateY(60%);
                        opacity: 0;
                        visibility: hidden;
                    }
                    100%{
                        transform: translateY(0%);
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }

            &:hover .overlay{
                opacity: 1;
                visibility: visible;
            }

            &:hover .box-text{
                animation: move_bt .3s forwards;
            }

            &:hover img{
                transform: scale(1.1);
            }
        }

        &:after {
            content: '';
            display: block;
            clear: both;
        }

        @media only screen and (max-width: 768px){
            &{
                width: 50%;
                padding: 0px 6px;
                margin-bottom: 12px;
            }
        }
        
        &.gr-custom-height-1{
            height: 430px;
        }

        &.gr-custom-height-2{
            height: 200px;
        }

        &.gr-custom-height-3{
            height: 320px;
        }

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            vertical-align: middle;
            position: relative;
            z-index: 1;
            transition: .3s ease-out;
        }
    }

    .see-more-bl{
        text-align: center;
        margin-top: 30px;
        a{
            font-size: 18px;
            text-transform: uppercase;
            font-weight: 700;
            color: #58595b;
            letter-spacing: 2px;
        }

        .dv-line{
            width: 94px;
            height: 2px;
            background: #58595b;
            margin: 2px auto;
        }
    }
}

.design-nature{
    position: relative;
  
    img{
        width: 100%;
        height: 100%;
        vertical-align: middle;
    }

    .images-box{
        position: relative;
        z-index: 1;
        height: 750px;
        overflow: hidden;
        @media only screen and (max-width:768px){
            &{
                height: auto;
            }
        }
    }   

    .overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        top:0;
        left: 0;
        background: rgba(0, 0, 0, 0.459);
    }

    .box-text{
        position: absolute;
        z-index: 3;
        background: #9F977C;
        color: #fff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 80px 100px;
        p{
            font-size: 18px;
            text-align: justify;
        }
        @media only screen and (max-width: 768px){
            &{
                padding: 64px;
                width: 95%;
                p{
                    font-size: 16px;
                }
            }
        }
        @media only screen and (max-width: 576px){
            &{
                padding: 10px;
                width: 95%;
                p{
                    font-size: 14px;
                }
            }
        }
    }
}

.instagram-pages{
    padding-top: 90px;
    .row.no-gutters>[class*=col-] {
        padding-right: 7px;
        padding-left: 7px;
    }
    .insta-title{
        text-align: center;
        padding-bottom: 22px;
        h2{
            color: #716f72;
            font-size: 15px;
            font-weight: 700;
            &::before{
                content:"\f16d";
                font-family: "fontawesome";
                padding-right: 5px;
            }
        }
    }

    .col-6 {
        a{
            display: block;
            overflow: hidden;
            margin-bottom: 14px;
            &:hover img{
                transform: scale(1.1);
            }
        }
        img{
            width: 100%;
            height: 100%;
            vertical-align: middle;
            transition: .3s ease-out;
        }
    }
}

// ----------------------------------------------------------------- category blog ---------------------------------------------------------------------------

.cate-title{
    background: #FAFAFA;
    border-top: 1px solid #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
    padding-top: 25px;
    .genal{
        font-size: 10px;
        text-transform: uppercase;
        font-weight: 700;
        color: #318892;
    }

    h1{
        font-size: 25px;
        text-transform: uppercase;
    }

    .descrip-title{
        font-size: 14px;
        padding: 25px 0px;
    }
}

.main-cate-content{
    padding-top: 60px;
    .card{
        border: none;
        border-radius: unset;
        transition: .3s ease-out;
        margin-bottom: 30px;
        .box-images{
            img{
                width: 100%;
                height: 100%;
                vertical-align: middle;
            }
        }

        .box-text{
            padding: 12px 3px;
            .title{
                a{
                    transition: .3s ease-out;
                    color: #000;
                    font-size: 18px;
                    font-weight: 700;
                    text-transform: uppercase;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    &:hover{
                        color: #5C5C5C;
                    }
                }
            }

            .date{
                padding-top: 12px;
                p{
                    font-size: 11px;
                    text-transform: uppercase;
                    color: #318892;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            .desc{
                padding-top: 12px;
                p{
                    font-size: 14px;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            .btn-see-more{
                text-transform: uppercase;
                color: #333;
                background: #fff;
                display: inline-block;
                border: 1px solid #B5B5B5;
                font-size: 13px;
                padding: 5px 10px;
                margin-top: 12px;
                transition: .3s ease-out;

                &:hover{
                    color: #fff;
                    background: #000;
                    border: 1px solid #000;
                }
            }
        }
        &:hover{
            opacity: 0.9;
        }
        &.shadow-inside{
            position: relative;
            .box-images{
                position: relative;
                z-index: 1;
                img{
                    width: 100%;
                    height: 100%;
                    vertical-align: middle;
                }
            }

            .overlay{
                position: absolute;
                z-index: 2;
                width: 100%;
                height: 100%;
                top:0;
                left: 0;
                background: rgba(0, 0, 0, 0.171);
            }

            .box-text{
                position: absolute;
                z-index: 3;
                top:50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                .cate{
                    span{
                        background: #fff;
                        color: #000;
                        text-transform: uppercase;
                        font-size: 10px;
                        padding: 3px;
                        font-weight: 700;
                    }
                }

                .title{
                    padding-top: 10px;
                    h4{
                        color: #fff;
                        font-weight: 700;
                        font-size: 18px;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }

                .date{
                    padding-top: 10px;

                    p{
                        color: #fff;
                        font-weight: 700;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

.widget-right{
    @media only screen and (max-width: 576px){
        &{
            margin-top: 25px;
        }
    }
    .title-w-right{
        border: 1px solid #EBEBEB;
        text-align: center;
        padding: 10px 0px;
        margin-bottom: 25px;

        h2{
            font-weight: 700;
            font-size: 13px;
            color: #161616;
        }
    }
    .card{
        border: none;
        border-radius: unset;
        transition: .3s ease-out;
        margin-bottom: 30px;
        .box-images{
            img{
                width: 100%;
                height: 100%;
                vertical-align: middle;
            }
        }

        .box-text{
            padding: 12px 3px;
            .title{
                a{
                    transition: .3s ease-out;
                    color: #000;
                    font-size: 18px;
                    font-weight: 700;
                    text-transform: uppercase;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    &:hover{
                        color: #5C5C5C;
                    }
                }
            }

            .date{
                padding-top: 12px;
                p{
                    font-size: 11px;
                    text-transform: uppercase;
                    color: #318892;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            .desc{
                padding-top: 12px;
                p{
                    font-size: 14px;
                }
            }

            .btn-see-more{
                text-transform: uppercase;
                color: #333;
                background: #fff;
                display: inline-block;
                border: 1px solid #B5B5B5;
                font-size: 13px;
                padding: 5px 10px;
                margin-top: 12px;
                transition: .3s ease-out;

                &:hover{
                    color: #fff;
                    background: #000;
                    border: 1px solid #000;
                }
            }
        }
        &:hover{
            opacity: 0.9;
        }
        &.shadow-inside{
            position: relative;
            .box-images{
                position: relative;
                z-index: 1;
                img{
                    width: 100%;
                    height: 100%;
                    vertical-align: middle;
                }
            }

            .overlay{
                position: absolute;
                z-index: 2;
                width: 100%;
                height: 100%;
                top:0;
                left: 0;
                background: rgba(0, 0, 0, 0.171);
            }

            .box-text{
                position: absolute;
                z-index: 3;
                top:50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                .cate{
                    span{
                        background: #fff;
                        color: #000;
                        text-transform: uppercase;
                        font-size: 10px;
                        padding: 3px;
                        font-weight: 700;
                    }
                }

                .title{
                    padding-top: 10px;
                    h4{
                        color: #fff;
                        font-weight: 700;
                        font-size: 18px;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }

                .date{
                    padding-top: 10px;

                    p{
                        color: #fff;
                        font-weight: 700;
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .blog-news{
        margin-top: 20px;
    }

    .widget-banner-1{
        background: #9F977D;
        color: #fff;
        padding: 30px;

        .box-images{
            border-radius: 50%;
            overflow: hidden;
            max-width: 100%;
            height: auto;
            margin-top: 20px;
            img{
                width: 100%;
                height: 100%;
                vertical-align: middle;
            }
        }

        .title-bn{
            text-align: center;
            h4{
                font-size: 14px;
                text-transform: uppercase;
                font-weight: 700;
                line-height: 25px;
            }
        }

        .desc{
            text-align: center;
            margin-top: 20px;
            p{
                font-size: 14px;
                line-height: 23px;

                &.desc-2{
                    padding-top: 20px;
                }
            }
        }

        .btn-bn-see-more{
            font-size: 14px;
            text-align: center;
            display: block;
            margin-top: 15px;
            color: #D1D1D1;
            transition: .3s ease-out;

            &:hover{
                color: #EBDFB7;
            }
        }
    }
}

.pages-switch{
    margin-top: 25px;
    .pagination{
        border: 1px solid #EBEBEB;
        display: inline-flex;
        border-radius: unset;
        overflow: hidden;
        .page-item{
            &.no-before{
                .page-link{
                    text-decoration: line-through;
                    color: #B4B4B4;
                }
            }
            .page-link{
                border: none;
                border-radius: unset;
                color: #000;
                font-weight: 600;
                font-size: 12px;
            }

            &:last-child{
                .page-link{
                    &::after{
                        content:"\f105";
                        font-family: "fontawesome";
                        padding-left: 4px;
                    }
                }
            }
        }
        
    }
}

.detail-title{
    padding-top: 60px;
    .genal{
        background: #318892;
        color: #fff;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 700;
        padding: 5px;
    }

    h1{
        font-size: 36px;
        font-weight: 700;
        text-transform: uppercase;
        padding-top: 20px;
    }

    .date{
        color: #B4B4B4;
        font-size: 11px;
        padding-top: 20px;
    }
}

.main-dt{
    padding-top: 30px;

    .info-company{
        background: #9E977B;
        color: #fff;
        padding: 25px 20px;
        margin-top: 25px;
        h3{
            font-size: 15px;
            font-weight: 700;
            padding-bottom: 5px;
        }

        p{
            font-size: 14px;
            line-height: 26px;
        }
    }
}

.rating-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
    .star-rating{
        cursor: pointer;
        span{
            &.checked{
                color: #FFA500;
            }
        }
    }

    .box-count{
        margin-left: 15px;
    }
}

.tags-box{
    margin-top: 40px;
    a{
        display: inline-block;
        background: #fff;
        border: 1px solid #EBEBEB;
        padding: 5px 10px;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        transition: .3s;
        margin-bottom: 5px;

        &:hover{
            color: #9E977B;
        }
    }
}

.related-post{
    margin-top: 45px;
    .row{
        margin-top: 30px;
    }
    .related-title{
        h4{
            position: relative;
            display: flex;
            justify-content: center;
            &::before{
                content: "";
                position: absolute;
                width: 100%;
                height: 1px;
                background: #EBEBEB;
                top: 50%;
                transform: translateY(-50%);
                z-index: 1;
            }

            span{
                position: relative;
                font-size: 14px;
                font-weight: 700;
                background: #fff;
                padding: 0px 10px;
                z-index: 2;
            }
        }
    }
    .card{
        border: none;
        border-radius: unset;
        transition: .3s ease-out;
        margin-bottom: 30px;
        .box-images{
            img{
                width: 100%;
                height: 100%;
                vertical-align: middle;
            }
        }

        .box-text{
            padding: 12px 3px;
            .title{
                a{
                    transition: .3s ease-out;
                    color: #000;
                    font-size: 14px;
                    font-weight: 700;
                    text-transform: uppercase;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    &:hover{
                        color: #5C5C5C;
                    }
                }
            }

            .date{
                padding-top: 12px;
                p{
                    font-size: 11px;
                    text-transform: uppercase;
                    color: #318892;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            .desc{
                padding-top: 12px;
                p{
                    font-size: 14px;
                }
            }

            .btn-see-more{
                text-transform: uppercase;
                color: #333;
                background: #fff;
                display: inline-block;
                border: 1px solid #B5B5B5;
                font-size: 13px;
                padding: 5px 10px;
                margin-top: 12px;
                transition: .3s ease-out;

                &:hover{
                    color: #fff;
                    background: #000;
                    border: 1px solid #000;
                }
            }
        }
        &:hover{
            opacity: 0.9;
        }
    }
}

.form-call-price{
    margin-top: 35px;
   
    form{
        border-bottom: 1px solid #9E977B;
        padding-bottom: 35px;
    }
    .title-fill-ft{
        margin-bottom: 20px;
        h2{
            font-size: 20px;
            color: #161616;
            text-transform: uppercase;
        }
    }
    .title-call-pr{
        border-bottom: 1px solid #CCCCCC;
        padding-bottom: 7px;
        margin-bottom: 7px;
        h4{
            font-size: 16px;
            text-transform: uppercase;
            &:before{
                background: #9E977B;
                color: #fff;
                width: 25px;
                height: 25px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                border-radius: 50px;
                font-size: 14px;
                margin-right: 5px;
            }

            &.pr-1{
                &::before{
                    content: "1";
                }
            }

            &.pr-2{
                &::before{
                    content: "2";
                }
            }

            &.pr-3{
                &::before{
                    content: "3";
                }
            }
        }
    }
    .box-f{
        .tf-w{
            display: flex;
            align-items: center;
            input{
                width: 75%;
                padding-left: 7px;
                &::placeholder{
                    font-size: 14px;
                }
            }

            span{
                font-size: 14px;
            }
        }

        .check-box{
            padding-top: 20px;
            label{
                margin-top: -5px;
                margin-left: 3px;
            }
        }

        .btn-call-price{
            background: #9E977B;
            color: #fff;
            padding: 10px 10px;
            font-size: 15px;
            font-weight: bold;
            text-transform: uppercase;
            display: block;
            width: 100%;
        }
    }
    .row{
        &.no-gutters>[class*=col-]{
            padding-left: 5px;
            padding-right: 5px;
        }

        .col-12{
            margin-bottom: 15px;
            &:first-child{
                .box-f{
                    label{
                        font-size: 14px;
                    }
                }
            }

            &:nth-child(2){
                .box-f{
                    .title{
                        font-size: 14px;
                        font-weight: 700;
                    }

                    label{
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .result{
        padding-top: 20px;
        .title{
            text-align: center;
            p{
                font-size: 14px;
                padding-bottom: 20px;
                font-weight: 700;
            }
        }
        .content-box{
            font-size: 14px;

            ul{
                padding-left: 20px;
                padding-top: 20px;
                li{
                    list-style-type: disc;
                    &.has-ul-inside{
                        ul{
                            padding-top: 5px;
                        }
                    }
                }
            }

            h3{
                font-weight: 700;
                padding-top: 20px;
            }
        }

        .thanks-to{
            font-weight: 700;
            padding-top: 5px;
        }

        .note-re{
            font-size: 18px;
            line-height: 26px;
            color: #CF2E2E;
            padding-top: 10px;
        }
    }
    
}

