#footer {
  background: #2C2C2C;
  margin-top: 150px; }
  #footer p {
    color: #fff; }
  #footer .map {
    max-width: 400px;
    border: 24px solid #9E977B;
    margin-top: -50px; }
    #footer .map a {
      width: 100%;
      height: 100%;
      display: block; }
    #footer .map img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      vertical-align: middle; }
  #footer .title-footer {
    padding-top: 35px; }
    #footer .title-footer h3 {
      font-size: 20px;
      color: #fff;
      text-transform: uppercase; }
    #footer .title-footer .dv-line {
      width: 45px;
      height: 2px;
      background: #fff;
      margin-top: 13px; }
  #footer .contact-ft p {
    font-size: 14px; }
  #footer .contact-ft .address {
    padding-top: 15px; }
  #footer .contact-ft .company {
    padding-top: 20px; }
  #footer .contact-ft .hot-line {
    padding-top: 20px; }
  #footer .follow-ic {
    display: flex;
    padding-top: 15px; }
    #footer .follow-ic a {
      background: #BCBDBF;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      margin-right: 10px;
      transition: .3s ease-out; }
      #footer .follow-ic a:hover {
        color: #fff;
        background: #9E977B; }
      #footer .follow-ic a:last-child {
        margin-right: unset; }
  #footer .end-footer {
    border-top: 1px solid #6D6E71;
    padding: 25px 0px;
    text-align: center;
    margin-top: 60px; }
    #footer .end-footer p {
      color: #6D6E71; }
  #footer a.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 50px;
    right: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: #444444 url("../images_icon/iconmonstr-arrow-66-16.png") no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
    z-index: 999; }
  #footer a.cd-top.cd-is-visible, #footer a.cd-top.cd-fade-out, #footer .no-touch a.cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s; }
  #footer a.cd-top, #footer a.cd-top:visited, #footer a.cd-top:hover {
    color: #CCCCCC;
    text-decoration: none; }
  #footer a.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1; }
  #footer a.cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: 1; }

/*# sourceMappingURL=footer.css.map */
