#header .top-bar {
  background: #2C2C2C;
  border-top: 1px solid #959595; }
  #header .top-bar.none-scroll {
    display: none; }
  #header .top-bar .contact {
    display: flex;
    align-items: center;
    line-height: 45px; }
    #header .top-bar .contact p {
      color: #959595;
      font-size: 14px;
      transition: .3s ease-out;
      cursor: pointer; }
      #header .top-bar .contact p:hover {
        color: #9F987B; }
    #header .top-bar .contact .hot-line {
      border-right: 1px solid #959595;
      padding-right: 15px; }
      #header .top-bar .contact .hot-line p:before {
        content: "\f095";
        font-family: "fontawesome";
        padding-right: 5px;
        color: #9F987B; }
    #header .top-bar .contact .email {
      padding-left: 15px; }
      #header .top-bar .contact .email p:before {
        content: "\f0e0";
        font-family: "fontawesome";
        padding-right: 5px;
        color: #9F987B; }
  #header .top-bar .right-follow {
    display: flex;
    align-items: center;
    line-height: 45px; }
    #header .top-bar .right-follow .search-hd {
      border-right: 1px solid #959595;
      padding-right: 15px; }
      #header .top-bar .right-follow .search-hd #btn-search-hd {
        border: none;
        outline: none;
        background: transparent;
        color: #959595; }
    #header .top-bar .right-follow .social-follow {
      display: flex;
      padding-left: 15px; }
      #header .top-bar .right-follow .social-follow a {
        display: block;
        font-size: 16px;
        margin-right: 10px;
        color: #959595;
        transition: .3s ease-out; }
        #header .top-bar .right-follow .social-follow a:hover {
          color: #9F987B; }
        #header .top-bar .right-follow .social-follow a:last-child {
          margin-right: unset; }
#header .header-main {
  background: #fff; }
  #header .header-main.stuck-hd {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    -webkit-box-shadow: 0px 1px 17px 1px rgba(53, 54, 58, 0.5);
    box-shadow: 0px 1px 17px 1px rgba(53, 54, 58, 0.5);
    transition: .3s ease-out;
    animation: fade_st 1.5s forwards; }
@keyframes fade_st {
  0% {
    opacity: 0;
    visibility: hidden; }
  100% {
    opacity: 1;
    visibility: visible; } }
  #header .header-main .container {
    padding: 13px 0px; }
  #header .header-main .moblie-bar button {
    border: none;
    outline: none;
    font-size: 20px;
    background: none; }
  #header .header-main .search-mb {
    position: absolute;
    right: 15px;
    top: 30px; }
    #header .header-main .search-mb button {
      border: none;
      outline: none;
      font-size: 20px;
      background: none; }
  #header .header-main .logo {
    max-width: 132px; }
    @media only screen and (max-width: 768px) {
      #header .header-main .logo {
        margin: auto; } }
  #header .header-main .main-nav {
    margin-left: 45px; }
    #header .header-main .main-nav ul {
      display: flex;
      flex-wrap: wrap; }
      #header .header-main .main-nav ul li a {
        font-size: 14px;
        text-transform: uppercase;
        padding: 0px 30px 0px 0px;
        display: block;
        transition: .3s ease-out;
        font-weight: 600;
        line-height: 30px; }
        #header .header-main .main-nav ul li a:hover {
          color: #9F977C; }
      #header .header-main .main-nav ul li:last-child a {
        padding: 0px; }
      #header .header-main .main-nav ul li.has-child {
        position: relative; }
        #header .header-main .main-nav ul li.has-child:hover ul {
          opacity: 1;
          visibility: visible; }
        #header .header-main .main-nav ul li.has-child a::after {
          content: "\f107";
          font-family: "fontawesome";
          padding-left: 4px; }
        #header .header-main .main-nav ul li.has-child ul {
          position: absolute;
          z-index: 5;
          background: #fff;
          width: 200px;
          transition: .3s ease-out;
          flex-direction: column;
          padding: 10px 15px;
          opacity: 0;
          visibility: hidden; }
          #header .header-main .main-nav ul li.has-child ul li a {
            font-size: 14px;
            text-transform: capitalize; }
            #header .header-main .main-nav ul li.has-child ul li a::after {
              content: ""; }

.over-lay-mb {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.8);
  z-index: 9995;
  display: none; }
  .over-lay-mb.overlay-open {
    display: block; }

.over-lay-mb-bars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.8);
  z-index: 9995;
  display: none; }
  .over-lay-mb-bars.overlay-open {
    display: block; }

.box-search_header {
  position: fixed;
  top: 30%;
  left: 50%;
  transition: .3s ease-in-out;
  animation: show_box_hd .5s forwards;
  text-align: center;
  z-index: 9999;
  display: none; }
  .box-search_header.active_show {
    display: block; }
@keyframes show_box_hd {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scale(0.7); }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1); } }
  .box-search_header label {
    font-size: 35px;
    font-weight: 700;
    text-transform: capitalize;
    padding-bottom: 20px;
    color: #fff; }
  .box-search_header form {
    display: flex; }
    .box-search_header form input {
      border: none;
      outline: none;
      width: 400px;
      height: 40px;
      padding-left: 10px; }
      @media only screen and (max-width: 768px) {
        .box-search_header form input {
          width: 100%; } }
    .box-search_header form button {
      width: 40px;
      background: #9F977C;
      color: #fff; }

/*# sourceMappingURL=header.css.map */
