@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
@media only screen and (max-width: 768px) {
  img {
    object-fit: fill;
  }
}

@media only screen and (max-width) {
  html {
    overflow-x: hidden;
  }
}
button {
  cursor: pointer;
  border: none;
  outline: none;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
}

.owl-carousel .item {
  margin-bottom: 10px;
}
.owl-carousel.owl-theme .owl-nav [class*=owl-]:hover {
  background: unset;
}
.owl-carousel.owl-theme .owl-dots .owl-dot {
  outline: none;
}
.owl-carousel.owl-theme .owl-dots .owl-dot.active span {
  background-color: #343A40;
}
.owl-carousel.owl-theme .owl-dots .owl-dot span {
  margin: 5px 5px;
  background: #FFFFFF;
}
.owl-carousel.owl-theme .owl-dots .owl-dot span:hover {
  background-color: #343A40;
}
.owl-carousel:hover .owl-nav {
  opacity: 1;
  visibility: visible;
}
.owl-carousel .owl-nav {
  opacity: 0;
  visibility: hidden;
  transition: .3s ease-in-out;
  margin-top: unset;
}
@media only screen and (max-width: 768px) {
  .owl-carousel .owl-nav {
    opacity: 1;
    visibility: visible;
  }
}
.owl-carousel .owl-nav button {
  background-color: none;
  border: none;
  outline: none;
  font-size: 50px;
  z-index: 4;
}
.owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 50%;
  left: -25px;
  font-size: 50px;
  transform: translateY(-50%);
}
@media only screen and (max-width: 768px) {
  .owl-carousel .owl-nav button.owl-prev {
    left: -20px;
  }
}
.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  top: 50%;
  right: -25px;
  font-size: 50px;
  transform: translateY(-50%);
}
@media only screen and (max-width: 768px) {
  .owl-carousel .owl-nav button.owl-next {
    right: -20px;
  }
}

#header .top-bar {
  background: #2C2C2C;
  border-top: 1px solid #959595;
}
#header .top-bar.none-scroll {
  display: none;
}
#header .top-bar .contact {
  display: flex;
  align-items: center;
  line-height: 45px;
}
#header .top-bar .contact p {
  color: #959595;
  font-size: 14px;
  transition: .3s ease-out;
  cursor: pointer;
}
#header .top-bar .contact p:hover {
  color: #9F987B;
}
#header .top-bar .contact .hot-line {
  border-right: 1px solid #959595;
  padding-right: 15px;
}
#header .top-bar .contact .hot-line p:before {
  content: "\f095";
  font-family: "fontawesome";
  padding-right: 5px;
  color: #9F987B;
}
#header .top-bar .contact .email {
  padding-left: 15px;
}
#header .top-bar .contact .email p:before {
  content: "\f0e0";
  font-family: "fontawesome";
  padding-right: 5px;
  color: #9F987B;
}
#header .top-bar .right-follow {
  display: flex;
  align-items: center;
  line-height: 45px;
}
#header .top-bar .right-follow .search-hd {
  border-right: 1px solid #959595;
  padding-right: 15px;
}
#header .top-bar .right-follow .search-hd #btn-search-hd {
  border: none;
  outline: none;
  background: transparent;
  color: #959595;
}
#header .top-bar .right-follow .social-follow {
  display: flex;
  padding-left: 15px;
}
#header .top-bar .right-follow .social-follow a {
  display: block;
  font-size: 16px;
  margin-right: 10px;
  color: #959595;
  transition: .3s ease-out;
}
#header .top-bar .right-follow .social-follow a:hover {
  color: #9F987B;
}
#header .top-bar .right-follow .social-follow a:last-child {
  margin-right: unset;
}
#header .header-main {
  background: #fff;
}
#header .header-main.stuck-hd {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  -webkit-box-shadow: 0px 1px 17px 1px rgba(53, 54, 58, 0.5);
  box-shadow: 0px 1px 17px 1px rgba(53, 54, 58, 0.5);
  transition: .3s ease-out;
  animation: fade_st 1.5s forwards;
}
@keyframes fade_st {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
#header .header-main .container {
  padding: 13px 0px;
}
#header .header-main .moblie-bar button {
  border: none;
  outline: none;
  font-size: 20px;
  background: none;
}
#header .header-main .search-mb {
  position: absolute;
  right: 15px;
  top: 30px;
}
#header .header-main .search-mb button {
  border: none;
  outline: none;
  font-size: 20px;
  background: none;
}
#header .header-main .logo {
  max-width: 132px;
}
@media only screen and (max-width: 768px) {
  #header .header-main .logo {
    margin: auto;
  }
}
#header .header-main .main-nav {
  margin-left: 45px;
}
#header .header-main .main-nav ul {
  display: flex;
  flex-wrap: wrap;
}
#header .header-main .main-nav ul li a {
  font-size: 14px;
  text-transform: uppercase;
  padding: 0px 30px 0px 0px;
  display: block;
  transition: .3s ease-out;
  font-weight: 600;
  line-height: 30px;
}
#header .header-main .main-nav ul li a:hover {
  color: #9F977C;
}
#header .header-main .main-nav ul li:last-child a {
  padding: 0px;
}
#header .header-main .main-nav ul li.has-child {
  position: relative;
}
#header .header-main .main-nav ul li.has-child:hover ul {
  opacity: 1;
  visibility: visible;
}
#header .header-main .main-nav ul li.has-child a::after {
  content: "\f107";
  font-family: "fontawesome";
  padding-left: 4px;
}
#header .header-main .main-nav ul li.has-child ul {
  position: absolute;
  z-index: 5;
  background: #fff;
  width: 200px;
  transition: .3s ease-out;
  flex-direction: column;
  padding: 10px 15px;
  opacity: 0;
  visibility: hidden;
}
#header .header-main .main-nav ul li.has-child ul li a {
  font-size: 14px;
  text-transform: capitalize;
}
#header .header-main .main-nav ul li.has-child ul li a::after {
  content: "";
}

.over-lay-mb {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.8);
  z-index: 9995;
  display: none;
}
.over-lay-mb.overlay-open {
  display: block;
}

.over-lay-mb-bars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.8);
  z-index: 9995;
  display: none;
}
.over-lay-mb-bars.overlay-open {
  display: block;
}

.box-search_header {
  position: fixed;
  top: 30%;
  left: 50%;
  transition: .3s ease-in-out;
  animation: show_box_hd .5s forwards;
  text-align: center;
  z-index: 9999;
  display: none;
}
.box-search_header.active_show {
  display: block;
}
@keyframes show_box_hd {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scale(0.7);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1);
  }
}
.box-search_header label {
  font-size: 35px;
  font-weight: 700;
  text-transform: capitalize;
  padding-bottom: 20px;
  color: #fff;
}
.box-search_header form {
  display: flex;
}
.box-search_header form input {
  border: none;
  outline: none;
  width: 400px;
  height: 40px;
  padding-left: 10px;
}
@media only screen and (max-width: 768px) {
  .box-search_header form input {
    width: 100%;
  }
}
.box-search_header form button {
  width: 40px;
  background: #9F977C;
  color: #fff;
}

#footer {
  background: #2C2C2C;
  margin-top: 150px;
}
#footer p {
  color: #fff;
}
#footer .map {
  max-width: 400px;
  border: 24px solid #9E977B;
  margin-top: -50px;
}
#footer .map a {
  width: 100%;
  height: 100%;
  display: block;
}
#footer .map img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
}
#footer .title-footer {
  padding-top: 35px;
}
#footer .title-footer h3 {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
}
#footer .title-footer .dv-line {
  width: 45px;
  height: 2px;
  background: #fff;
  margin-top: 13px;
}
#footer .contact-ft p {
  font-size: 14px;
}
#footer .contact-ft .address {
  padding-top: 15px;
}
#footer .contact-ft .company {
  padding-top: 20px;
}
#footer .contact-ft .hot-line {
  padding-top: 20px;
}
#footer .follow-ic {
  display: flex;
  padding-top: 15px;
}
#footer .follow-ic a {
  background: #BCBDBF;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 10px;
  transition: .3s ease-out;
}
#footer .follow-ic a:hover {
  color: #fff;
  background: #9E977B;
}
#footer .follow-ic a:last-child {
  margin-right: unset;
}
#footer .end-footer {
  border-top: 1px solid #6D6E71;
  padding: 25px 0px;
  text-align: center;
  margin-top: 60px;
}
#footer .end-footer p {
  color: #6D6E71;
}
#footer a.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 50px;
  right: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: #444444 url("../images_icon/iconmonstr-arrow-66-16.png") no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
  z-index: 999;
}
#footer a.cd-top.cd-is-visible, #footer a.cd-top.cd-fade-out, #footer .no-touch a.cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
#footer a.cd-top, #footer a.cd-top:visited, #footer a.cd-top:hover {
  color: #CCCCCC;
  text-decoration: none;
}
#footer a.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
#footer a.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: 1;
}

html.hc-nav-yscroll {
  overflow-y: scroll;
}

body.hc-nav-open {
  overflow: hidden;
  position: fixed;
  width: 100%;
  min-height: 100%;
}

.hc-offcanvas-nav {
  visibility: hidden;
  display: none;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 9999;
}

.hc-offcanvas-nav.is-ios * {
  cursor: pointer !important;
}

.hc-offcanvas-nav .nav-container {
  position: fixed;
  z-index: 9998;
  top: 0;
  width: 280px;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  transition: transform .4s ease;
}

.hc-offcanvas-nav .nav-wrapper {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  overscroll-behavior: none;
  box-sizing: border-box;
}

.hc-offcanvas-nav .nav-content {
  height: 100%;
  max-height: 100vh;
}

.hc-offcanvas-nav .nav-wrapper-0 > .nav-content {
  overflow: scroll;
  overflow-x: visible;
  overflow-y: auto;
  box-sizing: border-box;
}

.hc-offcanvas-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hc-offcanvas-nav li {
  position: relative;
  display: block;
}

.hc-offcanvas-nav li.level-open > .nav-wrapper {
  visibility: visible;
}

.hc-offcanvas-nav input[type="checkbox"] {
  display: none;
}

.hc-offcanvas-nav label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  cursor: pointer;
}

.hc-offcanvas-nav a {
  position: relative;
  display: block;
  box-sizing: border-box;
  cursor: pointer;
}

.hc-offcanvas-nav a,
.hc-offcanvas-nav a:hover {
  text-decoration: none;
}

.hc-offcanvas-nav.disable-body::after,
.hc-offcanvas-nav .nav-wrapper::after {
  content: '';
  position: fixed;
  z-index: 9990;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overscroll-behavior: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s ease .4s, opacity .4s ease;
}

.hc-offcanvas-nav.disable-body.nav-open::after,
.hc-offcanvas-nav .sub-level-open::after {
  visibility: visible;
  opacity: 1;
  transition-delay: .05s;
}

.hc-offcanvas-nav:not(.nav-open)::after {
  pointer-events: none;
}

.hc-offcanvas-nav.nav-levels-expand .nav-content {
  overflow: scroll;
  overflow-x: visible;
  overflow-y: auto;
  box-sizing: border-box;
}

.hc-offcanvas-nav.nav-levels-expand .nav-wrapper::after {
  display: none;
}

.hc-offcanvas-nav.nav-levels-expand ul .nav-wrapper {
  min-width: 0;
  max-height: 0;
  overflow: hidden;
  transition: height 0s ease .4s;
}

.hc-offcanvas-nav.nav-levels-expand .level-open > .nav-wrapper {
  max-height: none;
}

.hc-offcanvas-nav.nav-levels-overlap .nav-content {
  overflow: scroll;
  overflow-x: visible;
  overflow-y: auto;
  box-sizing: border-box;
}

.hc-offcanvas-nav.nav-levels-overlap ul .nav-wrapper {
  position: absolute;
  z-index: 9999;
  top: 0;
  height: 100%;
  visibility: hidden;
  transition: visibility 0s ease .4s, transform .4s ease;
}

.hc-offcanvas-nav.nav-levels-overlap ul li.nav-parent {
  position: static;
}

.hc-offcanvas-nav.nav-levels-overlap ul li.level-open > .nav-wrapper {
  visibility: visible;
  transform: translate3d(0, 0, 0);
  transition: transform .4s ease;
}

.hc-offcanvas-nav.nav-position-left {
  left: 0;
}

.hc-offcanvas-nav.nav-position-left .nav-container {
  left: 0;
  transform: translate3d(-280px, 0, 0);
}

.hc-offcanvas-nav.nav-position-left.nav-levels-overlap li .nav-wrapper {
  left: 0;
  transform: translate3d(-100%, 0, 0);
}

.hc-offcanvas-nav.nav-position-right {
  right: 0;
}

.hc-offcanvas-nav.nav-position-right .nav-container {
  right: 0;
  transform: translate3d(280px, 0, 0);
}

.hc-offcanvas-nav.nav-position-right.nav-levels-overlap li .nav-wrapper {
  right: 0;
  transform: translate3d(100%, 0, 0);
}

.hc-offcanvas-nav.nav-position-top {
  top: 0;
}

.hc-offcanvas-nav.nav-position-top .nav-container {
  top: 0;
  width: 100%;
  height: auto;
  transform: translate3d(0, -100%, 0);
}

.hc-offcanvas-nav.nav-position-top.nav-levels-overlap li .nav-wrapper {
  left: 0;
  transform: translate3d(0, -100%, 0);
}

.hc-offcanvas-nav.nav-position-bottom {
  top: auto;
  bottom: 0;
}

.hc-offcanvas-nav.nav-position-bottom .nav-container {
  top: auto;
  bottom: 0;
  width: 100%;
  height: auto;
  transform: translate3d(0, 100%, 0);
}

.hc-offcanvas-nav.nav-position-bottom.nav-levels-overlap li .nav-wrapper {
  left: 0;
  transform: translate3d(0, 100%, 0);
}

.hc-offcanvas-nav.nav-open[class*='hc-nav-'] div.nav-container {
  transform: translate3d(0, 0, 0);
}

.hc-nav-trigger {
  position: absolute;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  top: 30px;
  left: 15px;
  z-index: 9980;
  width: 30px;
  min-height: 24px;
}

.hc-nav-trigger span {
  width: 30px;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transform-origin: 50% 50%;
}

.hc-nav-trigger span,
.hc-nav-trigger span::before,
.hc-nav-trigger span::after {
  display: block;
  position: absolute;
  left: 0;
  height: 4px;
  background: #34495E;
  transition: all .2s ease;
}

.hc-nav-trigger span::before,
.hc-nav-trigger span::after {
  content: '';
  width: 100%;
}

.hc-nav-trigger span::before {
  top: -10px;
}

.hc-nav-trigger span::after {
  bottom: -10px;
}

.hc-nav-trigger.toggle-open span {
  background: rgba(0, 0, 0, 0);
  transform: rotate(45deg);
}

.hc-nav-trigger.toggle-open span::before {
  transform: translate3d(0, 10px, 0);
}

.hc-nav-trigger.toggle-open span::after {
  transform: rotate(-90deg) translate3d(10px, 0, 0);
}

.hc-offcanvas-nav::after,
.hc-offcanvas-nav .nav-wrapper::after {
  background: rgba(0, 0, 0, 0.3);
}

.hc-offcanvas-nav .nav-container,
.hc-offcanvas-nav .nav-wrapper,
.hc-offcanvas-nav ul {
  background: #336ca6;
}

.hc-offcanvas-nav h2 {
  font-size: 19px;
  font-weight: normal;
  text-align: left;
  padding: 20px 17px;
  color: #1b3958;
}

.hc-offcanvas-nav a {
  padding: 14px 17px;
  font-size: 15px;
  color: #fff;
  z-index: 1;
  background: rgba(0, 0, 0, 0);
  border-bottom: 1px solid #2c5d8f;
}

.hc-offcanvas-nav:not(.touch-device) a:hover {
  background: #31679e;
}

.hc-offcanvas-nav ul:first-of-type:not(:first-child) > li:first-child:not(.nav-back):not(.nav-close) > a {
  border-top: 1px solid #2c5d8f;
  margin-top: -1px;
}

.hc-offcanvas-nav li {
  text-align: left;
}

.hc-offcanvas-nav li.nav-close a,
.hc-offcanvas-nav li.nav-back a {
  background: #2c5d8f;
  border-top: 1px solid #295887;
  border-bottom: 1px solid #295887;
}

.hc-offcanvas-nav li.nav-close a:hover,
.hc-offcanvas-nav li.nav-back a:hover {
  background: #2b5c8d;
}

.hc-offcanvas-nav li.nav-parent a {
  padding-right: 58px;
}

.hc-offcanvas-nav li.nav-close span,
.hc-offcanvas-nav li.nav-parent span.nav-next,
.hc-offcanvas-nav li.nav-back span {
  width: 45px;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  text-align: center;
  cursor: pointer;
  transition: background .2s ease;
}

.hc-offcanvas-nav li.nav-close span::before,
.hc-offcanvas-nav li.nav-close span::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-top: -3px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
}

.hc-offcanvas-nav li.nav-close span::before {
  margin-left: -9px;
  transform: rotate(135deg);
}

.hc-offcanvas-nav li.nav-close span::after {
  transform: rotate(-45deg);
}

.hc-offcanvas-nav a[href]:not([href="#"]) > span.nav-next {
  border-left: 1px solid #2c5d8f;
}

.hc-offcanvas-nav span.nav-next::before,
.hc-offcanvas-nav li.nav-back span::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  margin-left: -2px;
  box-sizing: border-box;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  transform-origin: center;
}

.hc-offcanvas-nav span.nav-next::before {
  transform: translate(-50%, -50%) rotate(135deg);
}

.hc-offcanvas-nav li.nav-back span::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.hc-offcanvas-nav.nav-position-left.nav-open .nav-wrapper {
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.2);
}

.hc-offcanvas-nav.nav-position-right.nav-open .nav-wrapper {
  box-shadow: -1px 0 2px rgba(0, 0, 0, 0.2);
}

.hc-offcanvas-nav.nav-position-right span.nav-next::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.hc-offcanvas-nav.nav-position-right li.nav-back span::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(135deg);
}

.hc-offcanvas-nav.nav-position-top.nav-open .nav-wrapper {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.hc-offcanvas-nav.nav-position-top span.nav-next::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(-135deg);
}

.hc-offcanvas-nav.nav-position-top li.nav-back span::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(45deg);
}

.hc-offcanvas-nav.nav-position-bottom.nav-open .nav-wrapper {
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
}

.hc-offcanvas-nav.nav-position-bottom span.nav-next::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(45deg);
}

.hc-offcanvas-nav.nav-position-bottom li.nav-back span::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(-135deg);
}

.hc-offcanvas-nav.nav-levels-expand .nav-container ul .nav-wrapper,
.hc-offcanvas-nav.nav-levels-none .nav-container ul .nav-wrapper {
  box-shadow: none;
  background: transparent;
}

.hc-offcanvas-nav.nav-levels-expand .nav-container ul h2,
.hc-offcanvas-nav.nav-levels-none .nav-container ul h2 {
  display: none;
}

.hc-offcanvas-nav.nav-levels-expand .nav-container ul ul a,
.hc-offcanvas-nav.nav-levels-none .nav-container ul ul a {
  font-size: 14px;
}

.hc-offcanvas-nav.nav-levels-expand .nav-container li,
.hc-offcanvas-nav.nav-levels-none .nav-container li {
  transition: background .3s ease;
}

.hc-offcanvas-nav.nav-levels-expand .nav-container li.level-open,
.hc-offcanvas-nav.nav-levels-none .nav-container li.level-open {
  background: #2e6296;
}

.hc-offcanvas-nav.nav-levels-expand .nav-container li.level-open a,
.hc-offcanvas-nav.nav-levels-none .nav-container li.level-open a {
  border-bottom: 1px solid #295887;
}

.hc-offcanvas-nav .nav-container, .hc-offcanvas-nav .nav-wrapper, .hc-offcanvas-nav ul {
  background: #333;
}

.hc-offcanvas-nav li.nav-close a, .hc-offcanvas-nav li.nav-back a {
  background: #333;
  border-top: unset;
  border-bottom: unset;
  text-transform: uppercase;
  font-weight: bold;
}

.hc-offcanvas-nav a {
  border-bottom: unset;
  font-size: 13px;
  text-transform: uppercase;
}

.hc-offcanvas-nav h2 {
  font-weight: bold;
  color: #fff;
  font-size: 15px;
}

.hc-offcanvas-nav li.nav-close span::before, .hc-offcanvas-nav li.nav-close span::after {
  border-left: 0;
  width: 25px;
  height: 15px;
}

.hc-offcanvas-nav li.nav-close span::before {
  margin-left: -10px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  margin-top: -13px;
}

.hc-offcanvas-nav li.nav-close span::after {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  margin-top: -13px;
  margin-left: -1px;
}

.nav-close a {
  padding: 25px 15px;
}

.hc-offcanvas-nav h2 {
  text-transform: uppercase;
}

@font-face {
  font-family: 'title-bold';
  src: url("../fonts/font/SFUFuturaBold_0.TTF");
}
@font-face {
  font-family: 'title-light';
  src: url("../fonts/font/SFUFuturaLight_0.TTF");
}
@font-face {
  font-family: 'title-italic';
  src: url("../fonts/font/SFUFuturaObliqueTTF_0.TTF");
}
#wrapper a:active, #wrapper a:visited {
  background: none;
}

.banner .banner-content {
  max-width: 100%;
  height: 660px;
  overflow: hidden;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .banner .banner-content {
    height: auto;
  }
}
.banner .banner-content .images {
  position: relative;
}
.banner .banner-content .images .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.356);
}
.banner .banner-content img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  object-fit: cover;
}
.banner .banner-content .box-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.banner .banner-content .box-text h3 {
  color: #fff;
  font-size: 35px;
  line-height: 60px;
}
.banner .banner-content .box-text h2 {
  color: #fff;
  font-size: 50px;
  line-height: 60px;
  font-weight: 700;
}
@media only screen and (max-width: 768px) {
  .banner .banner-content .box-text h2 {
    font-size: 20px;
    line-height: 1.5;
  }
  .banner .banner-content .box-text h3 {
    font-size: 18px;
    line-height: 1.5;
  }
}
@media only screen and (max-width: 576px) {
  .banner .banner-content .box-text h2 {
    font-size: 14px;
    line-height: 1.5;
  }
  .banner .banner-content .box-text h3 {
    font-size: 14px;
    line-height: 1.5;
  }
}
.banner .owl-carousel .item {
  margin-bottom: 0px;
}
.banner .owl-carousel.owl-theme .owl-nav [class*=owl-]:hover {
  background: rgba(51, 51, 51, 0.678);
}
.banner .owl-carousel.owl-theme .owl-dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 93%;
}
@media only screen and (max-width: 576px) {
  .banner .owl-carousel.owl-theme .owl-dots {
    top: 86%;
  }
}
.banner .owl-carousel.owl-theme .owl-dots .owl-dot {
  outline: none;
}
.banner .owl-carousel.owl-theme .owl-dots .owl-dot.active span {
  background-color: #343A40;
}
.banner .owl-carousel.owl-theme .owl-dots .owl-dot span {
  margin: 5px 3px;
  background: #FFFFFF;
}
.banner .owl-carousel.owl-theme .owl-dots .owl-dot span:hover {
  background-color: #343A40;
}
.banner .owl-carousel:hover .owl-nav {
  opacity: 1;
  visibility: visible;
}
.banner .owl-carousel .owl-nav {
  opacity: 1;
  visibility: visible;
  transition: .3s ease-in-out;
  margin-top: unset;
}
@media only screen and (max-width: 768px) {
  .banner .owl-carousel .owl-nav {
    opacity: 1;
    visibility: visible;
  }
}
.banner .owl-carousel .owl-nav button {
  background-color: none;
  border: none;
  outline: none;
  font-size: 50px;
  z-index: 4;
  background: rgba(51, 51, 51, 0.678);
  color: #fff;
  margin: 0;
}
.banner .owl-carousel .owl-nav button span {
  display: block;
  margin-bottom: 6px;
  padding: 0px 7px;
}
.banner .owl-carousel .owl-nav button:hover {
  color: #fff;
}
.banner .owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 50%;
  left: 0px;
  font-size: 50px;
  transform: translateY(-50%);
}
@media only screen and (max-width: 768px) {
  .banner .owl-carousel .owl-nav button.owl-prev {
    left: 0px;
  }
}
.banner .owl-carousel .owl-nav button.owl-next {
  position: absolute;
  top: 50%;
  right: 0px;
  font-size: 50px;
  transform: translateY(-50%);
}
@media only screen and (max-width: 768px) {
  .banner .owl-carousel .owl-nav button.owl-next {
    right: 0px;
  }
}

.my-story .story-img {
  overflow: hidden;
}
.my-story .story-img img {
  width: 100%;
  padding-top: 93px;
  vertical-align: middle;
}
.my-story .story-content {
  background-image: url("../images/bg1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  padding-left: 24px;
}
@media only screen and (max-width: 576px) {
  .my-story .story-content {
    backface-visibility: hidden;
    background-attachment: fixed;
  }
}
.my-story .story-content h1 {
  font-family: "title-bold";
  font-size: 38px;
  padding-top: 100px;
  padding-bottom: 35px;
}
@media only screen and (max-width: 768px) {
  .my-story .story-content h1 {
    padding-top: 40px;
  }
}
.my-story .story-content p {
  font-size: 16px;
  padding-bottom: 25px;
  display: block;
  width: 70%;
  text-align: justify;
}
@media only screen and (max-width: 576px) {
  .my-story .story-content p {
    width: 95%;
  }
}

.our-solution {
  background: #9F977C;
  padding: 100px 0px;
}
@media only screen and (max-width: 768px) {
  .our-solution {
    padding: 60px 0px;
  }
}
.our-solution .soution-title {
  font-size: 38px;
  text-align: center;
  font-family: 'title-bold';
  padding-bottom: 60px;
}
.our-solution .media {
  margin-bottom: 35px;
}
.our-solution .media img {
  width: 55px;
  height: 55px;
  object-fit: cover;
}
.our-solution .media .media-body h5 {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  line-height: 27px;
}
.our-solution .media .media-body p {
  font-size: 15px;
  color: #DBDBD9;
}

.field-of-activity .activity-title {
  padding-right: 54px;
  border-left: 1px solid #9F977C;
  padding-left: 7px;
}
@media only screen and (max-width: 768px) {
  .field-of-activity .activity-title {
    padding: 40px 0px;
    border: unset;
  }
}
.field-of-activity .activity-title h2 {
  font-size: 36px;
}
.field-of-activity .activity-title h2 p {
  line-height: 50px;
}
.field-of-activity .activity-title h2 p:first-child {
  font-family: 'title-bold';
  margin-top: -14px;
}
.field-of-activity .activity-title h2 p:last-child {
  font-family: 'title-light';
  margin-bottom: -10px;
}
.field-of-activity .activity-imgages {
  max-width: 100%;
  height: 560px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: .5s ease-out;
}
.field-of-activity .activity-imgages.one-w {
  animation: one-w .3s forwards;
}
.field-of-activity .activity-imgages.one-w img {
  object-fit: fill;
}
.field-of-activity .activity-imgages.zero-w {
  animation: zero-w .3s forwards;
}
@keyframes one-w {
  0% {
    transform: scale(0.5);
    width: 0px;
  }
  100% {
    transform: scale(1);
    width: 100%;
  }
}
.field-of-activity .activity-imgages .show-click {
  animation: show_click 1s forwards;
}
.field-of-activity .activity-imgages .row.has-click-elements .col-12 {
  transition: .3s ease-out;
}
.field-of-activity .activity-imgages:hover .box-text a {
  transform: translateY(10px);
}
.field-of-activity .activity-imgages:hover .images img {
  transform: scale(1.1);
}
@media only screen and (max-width: 576px) {
  .field-of-activity .activity-imgages {
    height: auto;
  }
}
.field-of-activity .activity-imgages .images {
  position: relative;
  z-index: 1;
  transition: .3s ease-out;
  height: 560px;
}
@media only screen and (max-width: 576px) {
  .field-of-activity .activity-imgages .images {
    height: auto;
  }
}
.field-of-activity .activity-imgages .over-lay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.541);
  z-index: 2;
}
.field-of-activity .activity-imgages .box-text {
  position: absolute;
  z-index: 3;
  top: 36px;
  right: 10px;
  text-align: right;
}
.field-of-activity .activity-imgages .box-text a {
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  transition: .3s ease-out;
  font-family: 'title-bold';
  display: block;
}
.field-of-activity .activity-imgages img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  transition: .3s ease-out;
}

.outstanding-project {
  background: #EEF1F2;
  padding: 95px 0px;
  box-sizing: border-box;
}
.outstanding-project .stamp {
  position: absolute;
  z-index: 99;
  width: 48.4%;
  height: auto;
  background: white;
  margin-bottom: 0;
  right: 15px;
  border: none;
}
@media only screen and (max-width: 768px) {
  .outstanding-project .stamp {
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
  }
}
.outstanding-project .outstanding-title {
  text-align: center;
  padding: 60px 15px 60px 0px;
}
.outstanding-project .outstanding-title h2 {
  font-size: 38px;
  font-family: 'title-bold';
}
.outstanding-project .outstanding-title .dv-line {
  width: 110px;
  height: 2px;
  background: #9F977C;
  margin: 20px auto;
}
.outstanding-project #filters {
  padding-bottom: 10px;
  text-align: center;
}
.outstanding-project #filters .button {
  background: #fff;
  text-transform: uppercase;
  color: #000;
}
.outstanding-project .grid {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  background: none;
  border: none;
  position: relative;
}
.outstanding-project .grid-item {
  float: none;
  width: 25%;
  overflow: hidden;
  margin-bottom: 30px;
  border: none;
  background: none;
  padding: 0px 15px;
  height: auto;
}
.outstanding-project .grid-item .images-box {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.outstanding-project .grid-item .images-box .overlay {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.473);
  opacity: 0;
  visibility: hidden;
  transition: .3s ease-out;
}
.outstanding-project .grid-item .images-box .box-text {
  position: absolute;
  z-index: 3;
  bottom: 0;
  background: #fff;
  width: 90%;
  padding: 15px;
  transition: .3s ease-out;
  opacity: 0;
  visibility: hidden;
}
.outstanding-project .grid-item .images-box .box-text h4 {
  font-size: 19px;
}
.outstanding-project .grid-item .images-box .box-text p {
  font-size: 14px;
  color: #6d6e71;
}
@keyframes move_bt {
  0% {
    transform: translateY(60%);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
  }
}
.outstanding-project .grid-item .images-box:hover .overlay {
  opacity: 1;
  visibility: visible;
}
.outstanding-project .grid-item .images-box:hover .box-text {
  animation: move_bt .3s forwards;
}
.outstanding-project .grid-item .images-box:hover img {
  transform: scale(1.1);
}
.outstanding-project .grid-item:after {
  content: '';
  display: block;
  clear: both;
}
@media only screen and (max-width: 768px) {
  .outstanding-project .grid-item {
    width: 50%;
    padding: 0px 6px;
    margin-bottom: 12px;
  }
}
.outstanding-project .grid-item.gr-custom-height-1 {
  height: 430px;
}
.outstanding-project .grid-item.gr-custom-height-2 {
  height: 200px;
}
.outstanding-project .grid-item.gr-custom-height-3 {
  height: 320px;
}
.outstanding-project .grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  transition: .3s ease-out;
}
.outstanding-project .see-more-bl {
  text-align: center;
  margin-top: 30px;
}
.outstanding-project .see-more-bl a {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  color: #58595b;
  letter-spacing: 2px;
}
.outstanding-project .see-more-bl .dv-line {
  width: 94px;
  height: 2px;
  background: #58595b;
  margin: 2px auto;
}

.design-nature {
  position: relative;
}
.design-nature img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.design-nature .images-box {
  position: relative;
  z-index: 1;
  height: 750px;
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  .design-nature .images-box {
    height: auto;
  }
}
.design-nature .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.459);
}
.design-nature .box-text {
  position: absolute;
  z-index: 3;
  background: #9F977C;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 80px 100px;
}
.design-nature .box-text p {
  font-size: 18px;
  text-align: justify;
}
@media only screen and (max-width: 768px) {
  .design-nature .box-text {
    padding: 64px;
    width: 95%;
  }
  .design-nature .box-text p {
    font-size: 16px;
  }
}
@media only screen and (max-width: 576px) {
  .design-nature .box-text {
    padding: 10px;
    width: 95%;
  }
  .design-nature .box-text p {
    font-size: 14px;
  }
}

.instagram-pages {
  padding-top: 90px;
}
.instagram-pages .row.no-gutters > [class*=col-] {
  padding-right: 7px;
  padding-left: 7px;
}
.instagram-pages .insta-title {
  text-align: center;
  padding-bottom: 22px;
}
.instagram-pages .insta-title h2 {
  color: #716f72;
  font-size: 15px;
  font-weight: 700;
}
.instagram-pages .insta-title h2::before {
  content: "\f16d";
  font-family: "fontawesome";
  padding-right: 5px;
}
.instagram-pages .col-6 a {
  display: block;
  overflow: hidden;
  margin-bottom: 14px;
}
.instagram-pages .col-6 a:hover img {
  transform: scale(1.1);
}
.instagram-pages .col-6 img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  transition: .3s ease-out;
}

.cate-title {
  background: #FAFAFA;
  border-top: 1px solid #EBEBEB;
  border-bottom: 1px solid #EBEBEB;
  padding-top: 25px;
}
.cate-title .genal {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
  color: #318892;
}
.cate-title h1 {
  font-size: 25px;
  text-transform: uppercase;
}
.cate-title .descrip-title {
  font-size: 14px;
  padding: 25px 0px;
}

.main-cate-content {
  padding-top: 60px;
}
.main-cate-content .card {
  border: none;
  border-radius: unset;
  transition: .3s ease-out;
  margin-bottom: 30px;
}
.main-cate-content .card .box-images img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.main-cate-content .card .box-text {
  padding: 12px 3px;
}
.main-cate-content .card .box-text .title a {
  transition: .3s ease-out;
  color: #000;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main-cate-content .card .box-text .title a:hover {
  color: #5C5C5C;
}
.main-cate-content .card .box-text .date {
  padding-top: 12px;
}
.main-cate-content .card .box-text .date p {
  font-size: 11px;
  text-transform: uppercase;
  color: #318892;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main-cate-content .card .box-text .desc {
  padding-top: 12px;
}
.main-cate-content .card .box-text .desc p {
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main-cate-content .card .box-text .btn-see-more {
  text-transform: uppercase;
  color: #333;
  background: #fff;
  display: inline-block;
  border: 1px solid #B5B5B5;
  font-size: 13px;
  padding: 5px 10px;
  margin-top: 12px;
  transition: .3s ease-out;
}
.main-cate-content .card .box-text .btn-see-more:hover {
  color: #fff;
  background: #000;
  border: 1px solid #000;
}
.main-cate-content .card:hover {
  opacity: 0.9;
}
.main-cate-content .card.shadow-inside {
  position: relative;
}
.main-cate-content .card.shadow-inside .box-images {
  position: relative;
  z-index: 1;
}
.main-cate-content .card.shadow-inside .box-images img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.main-cate-content .card.shadow-inside .overlay {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.171);
}
.main-cate-content .card.shadow-inside .box-text {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.main-cate-content .card.shadow-inside .box-text .cate span {
  background: #fff;
  color: #000;
  text-transform: uppercase;
  font-size: 10px;
  padding: 3px;
  font-weight: 700;
}
.main-cate-content .card.shadow-inside .box-text .title {
  padding-top: 10px;
}
.main-cate-content .card.shadow-inside .box-text .title h4 {
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main-cate-content .card.shadow-inside .box-text .date {
  padding-top: 10px;
}
.main-cate-content .card.shadow-inside .box-text .date p {
  color: #fff;
  font-weight: 700;
  font-size: 12px;
}

@media only screen and (max-width: 576px) {
  .widget-right {
    margin-top: 25px;
  }
}
.widget-right .title-w-right {
  border: 1px solid #EBEBEB;
  text-align: center;
  padding: 10px 0px;
  margin-bottom: 25px;
}
.widget-right .title-w-right h2 {
  font-weight: 700;
  font-size: 13px;
  color: #161616;
}
.widget-right .card {
  border: none;
  border-radius: unset;
  transition: .3s ease-out;
  margin-bottom: 30px;
}
.widget-right .card .box-images img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.widget-right .card .box-text {
  padding: 12px 3px;
}
.widget-right .card .box-text .title a {
  transition: .3s ease-out;
  color: #000;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.widget-right .card .box-text .title a:hover {
  color: #5C5C5C;
}
.widget-right .card .box-text .date {
  padding-top: 12px;
}
.widget-right .card .box-text .date p {
  font-size: 11px;
  text-transform: uppercase;
  color: #318892;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.widget-right .card .box-text .desc {
  padding-top: 12px;
}
.widget-right .card .box-text .desc p {
  font-size: 14px;
}
.widget-right .card .box-text .btn-see-more {
  text-transform: uppercase;
  color: #333;
  background: #fff;
  display: inline-block;
  border: 1px solid #B5B5B5;
  font-size: 13px;
  padding: 5px 10px;
  margin-top: 12px;
  transition: .3s ease-out;
}
.widget-right .card .box-text .btn-see-more:hover {
  color: #fff;
  background: #000;
  border: 1px solid #000;
}
.widget-right .card:hover {
  opacity: 0.9;
}
.widget-right .card.shadow-inside {
  position: relative;
}
.widget-right .card.shadow-inside .box-images {
  position: relative;
  z-index: 1;
}
.widget-right .card.shadow-inside .box-images img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.widget-right .card.shadow-inside .overlay {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.171);
}
.widget-right .card.shadow-inside .box-text {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.widget-right .card.shadow-inside .box-text .cate span {
  background: #fff;
  color: #000;
  text-transform: uppercase;
  font-size: 10px;
  padding: 3px;
  font-weight: 700;
}
.widget-right .card.shadow-inside .box-text .title {
  padding-top: 10px;
}
.widget-right .card.shadow-inside .box-text .title h4 {
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.widget-right .card.shadow-inside .box-text .date {
  padding-top: 10px;
}
.widget-right .card.shadow-inside .box-text .date p {
  color: #fff;
  font-weight: 700;
  font-size: 12px;
}
.widget-right .blog-news {
  margin-top: 20px;
}
.widget-right .widget-banner-1 {
  background: #9F977D;
  color: #fff;
  padding: 30px;
}
.widget-right .widget-banner-1 .box-images {
  border-radius: 50%;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}
.widget-right .widget-banner-1 .box-images img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.widget-right .widget-banner-1 .title-bn {
  text-align: center;
}
.widget-right .widget-banner-1 .title-bn h4 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 25px;
}
.widget-right .widget-banner-1 .desc {
  text-align: center;
  margin-top: 20px;
}
.widget-right .widget-banner-1 .desc p {
  font-size: 14px;
  line-height: 23px;
}
.widget-right .widget-banner-1 .desc p.desc-2 {
  padding-top: 20px;
}
.widget-right .widget-banner-1 .btn-bn-see-more {
  font-size: 14px;
  text-align: center;
  display: block;
  margin-top: 15px;
  color: #D1D1D1;
  transition: .3s ease-out;
}
.widget-right .widget-banner-1 .btn-bn-see-more:hover {
  color: #EBDFB7;
}

.pages-switch {
  margin-top: 25px;
}
.pages-switch .pagination {
  border: 1px solid #EBEBEB;
  display: inline-flex;
  border-radius: unset;
  overflow: hidden;
}
.pages-switch .pagination .page-item.no-before .page-link {
  text-decoration: line-through;
  color: #B4B4B4;
}
.pages-switch .pagination .page-item .page-link {
  border: none;
  border-radius: unset;
  color: #000;
  font-weight: 600;
  font-size: 12px;
}
.pages-switch .pagination .page-item:last-child .page-link::after {
  content: "\f105";
  font-family: "fontawesome";
  padding-left: 4px;
}

.detail-title {
  padding-top: 60px;
}
.detail-title .genal {
  background: #318892;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 5px;
}
.detail-title h1 {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 20px;
}
.detail-title .date {
  color: #B4B4B4;
  font-size: 11px;
  padding-top: 20px;
}

.main-dt {
  padding-top: 30px;
}
.main-dt .info-company {
  background: #9E977B;
  color: #fff;
  padding: 25px 20px;
  margin-top: 25px;
}
.main-dt .info-company h3 {
  font-size: 15px;
  font-weight: 700;
  padding-bottom: 5px;
}
.main-dt .info-company p {
  font-size: 14px;
  line-height: 26px;
}

.rating-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}
.rating-box .star-rating {
  cursor: pointer;
}
.rating-box .star-rating span.checked {
  color: #FFA500;
}
.rating-box .box-count {
  margin-left: 15px;
}

.tags-box {
  margin-top: 40px;
}
.tags-box a {
  display: inline-block;
  background: #fff;
  border: 1px solid #EBEBEB;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  transition: .3s;
  margin-bottom: 5px;
}
.tags-box a:hover {
  color: #9E977B;
}

.related-post {
  margin-top: 45px;
}
.related-post .row {
  margin-top: 30px;
}
.related-post .related-title h4 {
  position: relative;
  display: flex;
  justify-content: center;
}
.related-post .related-title h4::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #EBEBEB;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.related-post .related-title h4 span {
  position: relative;
  font-size: 14px;
  font-weight: 700;
  background: #fff;
  padding: 0px 10px;
  z-index: 2;
}
.related-post .card {
  border: none;
  border-radius: unset;
  transition: .3s ease-out;
  margin-bottom: 30px;
}
.related-post .card .box-images img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.related-post .card .box-text {
  padding: 12px 3px;
}
.related-post .card .box-text .title a {
  transition: .3s ease-out;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.related-post .card .box-text .title a:hover {
  color: #5C5C5C;
}
.related-post .card .box-text .date {
  padding-top: 12px;
}
.related-post .card .box-text .date p {
  font-size: 11px;
  text-transform: uppercase;
  color: #318892;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.related-post .card .box-text .desc {
  padding-top: 12px;
}
.related-post .card .box-text .desc p {
  font-size: 14px;
}
.related-post .card .box-text .btn-see-more {
  text-transform: uppercase;
  color: #333;
  background: #fff;
  display: inline-block;
  border: 1px solid #B5B5B5;
  font-size: 13px;
  padding: 5px 10px;
  margin-top: 12px;
  transition: .3s ease-out;
}
.related-post .card .box-text .btn-see-more:hover {
  color: #fff;
  background: #000;
  border: 1px solid #000;
}
.related-post .card:hover {
  opacity: 0.9;
}

.form-call-price {
  margin-top: 35px;
}
.form-call-price form {
  border-bottom: 1px solid #9E977B;
  padding-bottom: 35px;
}
.form-call-price .title-fill-ft {
  margin-bottom: 20px;
}
.form-call-price .title-fill-ft h2 {
  font-size: 20px;
  color: #161616;
  text-transform: uppercase;
}
.form-call-price .title-call-pr {
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 7px;
  margin-bottom: 7px;
}
.form-call-price .title-call-pr h4 {
  font-size: 16px;
  text-transform: uppercase;
}
.form-call-price .title-call-pr h4:before {
  background: #9E977B;
  color: #fff;
  width: 25px;
  height: 25px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  font-size: 14px;
  margin-right: 5px;
}
.form-call-price .title-call-pr h4.pr-1::before {
  content: "1";
}
.form-call-price .title-call-pr h4.pr-2::before {
  content: "2";
}
.form-call-price .title-call-pr h4.pr-3::before {
  content: "3";
}
.form-call-price .box-f .tf-w {
  display: flex;
  align-items: center;
}
.form-call-price .box-f .tf-w input {
  width: 75%;
  padding-left: 7px;
}
.form-call-price .box-f .tf-w input::placeholder {
  font-size: 14px;
}
.form-call-price .box-f .tf-w span {
  font-size: 14px;
}
.form-call-price .box-f .check-box {
  padding-top: 20px;
}
.form-call-price .box-f .check-box label {
  margin-top: -5px;
  margin-left: 3px;
}
.form-call-price .box-f .btn-call-price {
  background: #9E977B;
  color: #fff;
  padding: 10px 10px;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  width: 100%;
}
.form-call-price .row.no-gutters > [class*=col-] {
  padding-left: 5px;
  padding-right: 5px;
}
.form-call-price .row .col-12 {
  margin-bottom: 15px;
}
.form-call-price .row .col-12:first-child .box-f label {
  font-size: 14px;
}
.form-call-price .row .col-12:nth-child(2) .box-f .title {
  font-size: 14px;
  font-weight: 700;
}
.form-call-price .row .col-12:nth-child(2) .box-f label {
  font-size: 14px;
}
.form-call-price .result {
  padding-top: 20px;
}
.form-call-price .result .title {
  text-align: center;
}
.form-call-price .result .title p {
  font-size: 14px;
  padding-bottom: 20px;
  font-weight: 700;
}
.form-call-price .result .content-box {
  font-size: 14px;
}
.form-call-price .result .content-box ul {
  padding-left: 20px;
  padding-top: 20px;
}
.form-call-price .result .content-box ul li {
  list-style-type: disc;
}
.form-call-price .result .content-box ul li.has-ul-inside ul {
  padding-top: 5px;
}
.form-call-price .result .content-box h3 {
  font-weight: 700;
  padding-top: 20px;
}
.form-call-price .result .thanks-to {
  font-weight: 700;
  padding-top: 5px;
}
.form-call-price .result .note-re {
  font-size: 18px;
  line-height: 26px;
  color: #CF2E2E;
  padding-top: 10px;
}

/*# sourceMappingURL=style.css.map */
